
.contact-section {
  min-height: 115vh;
}

.contact-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-donuts {
 display: none;
}

.contact-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40rem;
  padding: 2rem;
  background-color: hsl(var(--clr-accent), .4);
  border-radius: .4rem;
  opacity: 0;
  top: -200px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 500ms ease-in-out,
              transform 500ms ease-in-out;
}

.contact-header {
  font-size: 2.3rem;
}

.contact-form input,
.contact-form textarea {
  font-family: var(--font-family-default);
  font-size: var(--fs-500);
  line-height: 1.2;
  color: hsl(var(--clr-white), .9);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: var(--font-family-default);
  font-size: var(--fs-500);
  line-height: 1.2;
  color: hsl(var(--clr-white), .5);
}

.contact-form input:focus, 
.contact-form textarea:focus {
  outline: none;
} 

.contact-form input {
  min-width: 100%;
  background-color: transparent;
  padding: .5rem 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1.5px solid #fff;
}

.contact-form input.input-error {
  border: 1.5px solid #e10000;
  border-radius: .2rem;
}

.contact-form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 1rem;
  margin: 1.5rem 0 2.5rem;
  background-color: hsl(var(--clr-secondary), .2);
  border: none;
  border-radius: .4rem;
  resize: none;
}

.contact-form textarea.input-error {
  border: 1.5px solid #e10000;
}

.contact-btn {
  width: 100%;
  height: 100%;
}

.success-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40rem;
  padding: 2rem;
  background-color: hsl(var(--clr-accent), .4);
  border-radius: .4rem;
  color:hsl(var(--clr-white));
  text-align: center;
  opacity: 0;
  top: -200px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 500ms ease-in-out,
              transform 500ms ease-in-out;
}

.checkmark-background {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
}

.success-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--fs-900);
  color: hsl(var(--clr-accent));
}

.success-message {
  color: hsl(var(--clr-accent));
}


.success-btn {
  margin-top: 3.5rem;
}

.active {
  position: relative;
  opacity: 1;
  top: 0%;
  margin-top: 5rem;
  transform: translate(0%, 0%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
